/**************************/
/* NAVIGATION SECTION */
/**************************/
.main--header {
  padding: 1.2rem 4.8rem 9.8rem 4.8rem;
  background-color: #fdf2e9;
  /* For sticky */
  height: 9.6rem;
}
.logo--image {
  display: inline-block;
  max-width: 8.6rem;
  transition: transform 0.3s;
}
.logo--image:hover {
  transform: scale(1.2);
}

.flex--header {
  justify-content: space-between;
}

.main--nav-list {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 3rem;
  font-weight: 600;
}
.main--nav-link:link,
.main--nav-link:visited {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}
.main--nav-link:hover,
.main--nav-link:active {
  color: #cf711f;
}

.confirm--button {
  display: flex;
  align-items: center;
  font-size: 5rem;
  text-decoration: none;
  color: #555;
  padding: auto 0 auto 0;
}
.login--form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.confirm--button {
  width: 100%;
  font-size: 4.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.arrow {
  transform: translateY(-5%);
}
/**************************/
/* STICKY NAV */
/**************************/

.sticky .main--header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 1.2rem;
  padding-bottom: 8rem;
  background-color: rgba(253, 242, 233, 0.933);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section--hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/
.section--hero {
  padding: 8.2rem 4.8rem 9.6rem 4.8rem;
  margin-bottom: 4.8rem;
  background-color: #fdf2e9;
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  padding-bottom: 2.4rem;
  grid-template-columns: 1fr 1.5fr;
}
.hero--description {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.button--info:link,
.button--info:visited {
  color: inherit;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #fff;
  padding: 1.6rem 2.4rem;
  border: 3px solid transparent;
  border-radius: 9px;
  transition: all 0.3s ease;
}
.button--info:hover,
.button--info:active {
  background-color: #fdf2e9;
  border: 3px solid #fff;
  transform: scale(1.05);
}
.container--info {
  justify-content: left;
}
.hero--images {
  width: 100%;
}
/**************************/
/* HOW SECTION */
/**************************/
.how--section {
  padding-top: 4.8rem;
  margin-bottom: 9.6rem;
}
.number {
  display: inline-block;
  font-size: 8.6rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 2.4rem;
}
.description {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 4.8rem;
  font-weight: 500;
}
.how--img {
  width: 100%;
}
/**************************/
/* SLIDER SECTION */
/**************************/
.section--slider {
  margin-bottom: 9.6rem;
  padding-bottom: 6.4rem;
  position: relative;
}
.title--slider {
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.button-area {
  max-width: 100rem;
  height: 42rem;
  margin: 0 auto;
  position: relative;
}
.content--slider {
  max-width: 100rem;
  height: 42rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fdf2e9;
  box-shadow: inset 0 0 3px rgba(253, 242, 233, 0.199);
  padding: 2.4rem 5.2rem;
  margin-bottom: 9.6rem;
  border-radius: 12px;
  transition: transform 1s;
}
.slider--icon {
  width: 9rem;
  height: 9rem;
  border: 3px solid #000;
  border-radius: 50%;
}
.slider--name {
  display: inline-block;
  font-size: 3rem;
  padding-left: 2.5rem;
  font-weight: 500;
  color: #333;
}
.slide--header {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.slider--text {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  font-weight: 450;
  color: #333;
}
.slider--page {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.slider--button {
  position: absolute;
  text-decoration: none;
  top: 50%;
  color: #fff;
  font-weight: 600;
  width: 6rem;
  height: 6rem;
  font-size: 4.4rem;
  border: none;
  background-color: #cf711f;
  box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, 0.075);
  border-radius: 50%;
  cursor: pointer;
}
.left--button {
  left: 0;
  transform: translate(-50%, -50%);
}
.right--button {
  right: 0;
  transform: translate(50%, -50%);
}
.dots--container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.75rem;
}

.dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  /* margin-right: 1.75rem; */
  cursor: pointer;
  transition: all 0.5s;
}
.dot:hover {
  transform: scale(1.2);
}
.dot--active {
  background-color: #888;
  opacity: 1;
}
/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo--col {
  display: flex;
  flex-direction: column;
}

.footer--logo {
  display: block;
  margin-bottom: 2.4rem;
}

.social--links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.social--icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer--heading {
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 1.2rem;
  margin-bottom: 4rem;
}

.contacts {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
}

.info {
  margin-bottom: 2.4rem;
}

.footer--nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer--link:link,
.footer--link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer--link:hover,
.footer--link:active {
  color: #555;
}
